<div class="position1">
  <div class="fadein">
    <%= image_tag("Group 57@2x.png", id:"f3", class:"verde") %>
    <%= image_tag("Group 58@2x.png", id:"f2", class: "bola") %>
    <%= image_tag("Group 55@2x.png", id:"f1", class: "amarelo") %>
  </div>
</div>

<div class="position2">
  <div class="fadein">
    <%= image_tag("Path 475@2x.png", id:"f4", class: "cadeia") %>
    <%= image_tag("Group 57@2x.png", id:"f5", class: "verde") %>
    <%= image_tag("Group 58@2x.png", id:"f6", class: "bola") %>
  </div>
</div>

<div class="position3">
  <div class="fadein">
    <%= image_tag("Group 56@2x.png", id:"f7", class: "meialua") %>
    <%= image_tag("Path 475@2x.png", id:"f8", class: "cadeia") %>
    <%= image_tag("Group 56@2x.png", id:"f9", class: "meialua") %>
  </div>
</div>

<div class="position4">
  <div class="fadein">
    <%= image_tag("Group 58@2x.png", id:"f10", class: "bola") %>
    <%= image_tag("Group 55@2x.png", id:"f11", class: "amarelo") %>
    <%= image_tag("Path 475@2x.png", id:"f12", class: "cadeia") %>
  </div>
</div>

<div class="position5">
  <div class="fadein">
    <%= image_tag("Group 55@2x.png", id:"f13", class: "amarelo") %>
    <%= image_tag("Group 56@2x.png", id:"f14", class: "meialua") %>
    <%= image_tag("Group 57@2x.png", id:"f15", class: "verde") %>
  </div>
</div>

<!-- <div class="mobile">
  <%#= image_tag("Group 57@2x.png",id:"d1", class: "verde") %>
  <%#= image_tag("Group 55@2x.png",id:"d2", class: "amarelo") %>
  <%#= image_tag("Path 475@2x.png",id:"d3", class: "cadeia") %>
  <%#= image_tag("Group 58@2x.png",id:"d4", class: "bola") %>
</div> -->

<%= image_tag("Group 63.png", class:"logo")%>


<div class="info">
  <p class="title">Drop us a line</p>
  <p>info@assembelia.house</p>
  <p>+351 21 397 10 30</p>
  <br>
  <br>
  <p class="title">Come meet us</p>
  <p class="title">by appointment</p>
  <p>Avenida Dom Carlos I 107-109,</p>
  <p>1200-648 Lisboa</p>
  <p>Mon-Fri: 10h to 18h</p>
</div>
