<div class="position1">
  <div class="fadein">
    <%= image_tag("Group 57@2x.png", id:"f3", class:"verde") %>
    <%= image_tag("Group 58@2x.png", id:"f2", class: "bola") %>
    <%= image_tag("Group 55@2x.png", id:"f1", class: "amarelo") %>
  </div>
</div>

<div class="position2">
  <div class="fadein">
    <%= image_tag("Path 475@2x.png", id:"f4", class: "cadeia") %>
    <%= image_tag("Group 57@2x.png", id:"f5", class: "verde") %>
    <%= image_tag("Group 58@2x.png", id:"f6", class: "bola") %>
  </div>
</div>

<div class="position3">
  <div class="fadein">
    <%= image_tag("Group 56@2x.png", id:"f7", class: "meialua") %>
    <%= image_tag("Path 475@2x.png", id:"f8", class: "cadeia") %>
    <%= image_tag("Group 56@2x.png", id:"f9", class: "meialua") %>
  </div>
</div>

<div class="position4">
  <div class="fadein">
    <%= image_tag("Group 58@2x.png", id:"f10", class: "bola") %>
    <%= image_tag("Group 55@2x.png", id:"f11", class: "amarelo") %>
    <%= image_tag("Path 475@2x.png", id:"f12", class: "cadeia") %>
  </div>
</div>

<div class="position5">
  <div class="fadein">
    <%= image_tag("Group 55@2x.png", id:"f13", class: "amarelo") %>
    <%= image_tag("Group 56@2x.png", id:"f14", class: "meialua") %>
    <%= image_tag("Group 57@2x.png", id:"f15", class: "verde") %>
  </div>
</div>

<div class="logodiv">
  <%= image_tag("Group 18@2x.png", class:"logo assembleia") %>
  <%= image_tag("Group 7@2x.png", class:"logo tag house") %>
  <%= image_tag("Group 6@2x.png", class:"logo tag creatives") %>
</div>
